MY_PUBLIC_SSH_KEY="ssh-ed25519 AAAA... youruser@yourhost.local"
MY_WIREGUARD_CLIENT_KEY=sDMnoquotes+base64encodedclientprivatekey=
MY_WIREGUARD_CLIENT_PUB=FSNnoquotes+base64encodedclientpublickey=
MY_WIREGUARD_SERVER_PUB=gqrnoquotes+base64encodedserverpublickey=
MY_WIREGUARD_SERVER_IPV6=2600::...1234ip.public.ipv6
MY_PUBLIC_IP=12.34.56.my.public.ipv4
