# Sandbox environment configuration
ACCOUNT_ID=910123456
MFA_DEVICE_NAME=1password-TestNameOfYourMFADeviceOnAWS
OP_VAULT_ITEM="op://Kingdon/root_WhereverYouStoredMFAToken/one-time password?attribute=otp"
