/.terraform.lock.hcl
/.terraform/**
/passwords.txt
/prod.tfstate
/prod.tfstate.backup
/sb.tfstate
/sb.tfstate.backup
/..bfg-report/**
/.sb.tfstate.lock.info

# Stakpak local files
.stakpak

# Environments (not that secret - just account numbers)
/.env.prod
/.env.sb
/.env
